@import url('https://api.fontshare.com/v2/css?f[]=nunito@300,301&f[]=bebas-neue@400&display=swap');

/* Configuração geral de todas as páginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: hsl(0, 0%, 9%);
}

header img{
    max-width: 100px;
}

nav a{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: hsl(0, 0%, 9%);
    margin: 20px;
    transition: 0.3s;
}

nav a:hover{
    transform: scale(1.1);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(179, 100%, 33%);
}

main{
    min-height: 480px;
    width: 100%;
}

main img{
    max-width: 500px;
    border-radius: 30px;
    margin-right: 50px;
}

#main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#text-home{
    max-width: 300px;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    color: hsl(12, 100%, 99%);
    font-size: 50px;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: hsl(12, 100%, 99%);
    font-size: 25px;
    margin-top: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: hsl(12, 100%, 99%);
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: hsl(179, 100%, 33%);
}

i{
    /*ícones*/
    margin: 20px;
    color: #FFFBFA;
    font-size: 50px;
    transition: 0.3s;
}

i:hover{
    transform: scale(1.1);
}

/* Configuração da página "Sobre" */

#player-spotify{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#discografia{
    display: flex;
    justify-content: center;
}

.albums-sobre{
    max-width: 100px;
    border-radius: 10px;
}

table{
    border-collapse: collapse;  
    max-width: 500px;
}

td, th{
    border: 1px hsl(179, 100%, 33%) solid;
}