@import url('https://api.fontshare.com/v2/css?f[]=nunito@300,301&f[]=bebas-neue@400&display=swap');

/* Configuração geral de todas as páginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: hsl(0, 0%, 9%);
}

header img{
    max-width: 100px;
}

.menu-itens{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #171717;
    margin: 20px;
    transition: 0.3s;
}

.menu-itens:hover{
    transform: scale(1.1);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00a8a5;
}

main{
    min-height: 480px;
    width: 100%;
}

main img{
    max-width: 500px;
    border-radius: 30px;
    margin-right: 50px;
}

#main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#text-home{
    max-width: 300px;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    color: hsl(12, 100%, 99%);
    font-size: 50px;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: hsl(12, 100%, 99%);
    font-size: 25px;
    margin-top: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: hsl(12, 100%, 99%);
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: hsl(179, 100%, 33%);
}

i{
    /*ícones*/
    margin: 20px;
    color: #FFFBFA;
    font-size: 50px;
    transition: 0.3s;
}

i:hover{
    transform: scale(1.1);
}

/* Configuração da página "Sobre" */

#player-spotify{
    display: flex;
    justify-content: center;
    padding: 5%;
}

#texto-sobre{
    max-width: 60%;
    margin: 0 auto;
}

#tabela-disc{
    margin: 0 auto;
}

.albums-sobre{
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(23,23,23,0.5);
}

table{
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(0,168,165,1) 51%, rgba(23,23,23,1) 100%);
    border-radius: 10px;
}

td, th{
    font-family: 'Nunito', sans-serif;
    color: #FFFBFA;
    font-size: 16px;
    padding: 25px;
}

td{
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
}
