@import url('https://api.fontshare.com/v2/css?f[]=nunito@300,301&f[]=bebas-neue@400&display=swap');

/* Configuração geral de todas as páginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(180deg, rgba(23,23,23,1) 54%, rgba(16,67,66,1) 98%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header img{
    max-width: 60px;
}

a{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #FFFBFA;
    margin: 20px;
    transition: 0.3s;
}

a:hover{
    transform: scale(1.1);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00a8a5;
}

main{
    min-height: 500px;
    width: 100%;
}

#main-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section01-home{
    position: relative;
    width: 100%;
}

#section01-home figcaption{
    font-family: 'Bebas Neue', sans-serif;
    color: hsl(12, 100%, 99%);
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 2%;
}

#section01-home p{
    font-family: 'Nunito', sans-serif;
    color: #FFFBFA;
    font-size: 45px;
    position: absolute;
    top: 75%;
    left: 2%;
}

#section01-home img{
    width: 100%;
}

#section02-home, #section03-home{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 100px;
}

#section02-home img, #section03-home img{
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 50px;
}

#descricao-section02, #descricao-section03{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    margin: 30px;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    color: hsl(12, 100%, 99%);
    font-size: 50px;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: hsl(12, 100%, 99%);
    font-size: 25px;
    margin-top: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: hsl(12, 100%, 99%);
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: hsl(179, 100%, 33%);
}

i{
    /*ícones*/
    margin: 20px;
    color: #FFFBFA;
    font-size: 50px;
    transition: 0.3s;
}

i:hover{
    transform: scale(1.1);
}

/* Configuração da página "Sobre" */

.main-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    margin-top: 2%;
}

.h2-sobre{
    margin: 5px;
}

#texto-sobre{
    max-width: 60%;
    margin: 5px auto;
}

#tabela-disc{
    margin: 5px auto;
}

.albums-sobre{
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(23,23,23,0.5);
}

table{
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(0,168,165,1) 51%, rgba(23,23,23,1) 100%);
    border-radius: 10px;
    margin: 10px;
}

td, th{
    font-family: 'Nunito', sans-serif;
    color: #FFFBFA;
    font-size: 16px;
    padding: 25px;
}

td{
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*Configuração da página de inscrições*/

.main-inscricoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    border-radius: 5px;
    max-width: 900px;
    margin-top: 15px;
}

form{
    padding: 8px;
    max-width: 500px;
}

.lables-form{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: hsl(12, 100%, 99%);
}

.lables-sexo{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: hsl(12, 100%, 99%);
    margin-top: 3px;
}

input{
    font-family: 'Nunito', sans-serif;
    color: #171717;
    border-radius: 3px;
    border: none;
    margin: 8px;
}

.input-sexo{
    margin-top: 3px;
}

#telefone{
    width: 180px;
}

#checkbox{
    display: flex;
    justify-content: center;
}

#formulario-botoes{
    display: flex;
    justify-content: center;
}

.botoes{
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 3px;
    background-color: #00a8a5;
    color: #FFFBFA;
    width: 80px;
    height: 30px;
    transition: 0.3s;
}

.botoes:hover{
    transform: scale(1.1);
}